<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id%>
  </div>
<md-input-container >

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: 'form-control'  %>
  </div>
  </md-input-container>
<md-input-container >
  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, class: 'form-control'  %>
  </div>
  </md-input-container>
<md-input-container >
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control'  %>
  </div>
  </md-input-container>
<md-input-container >
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control'  %>
  </div>
</md-input-container>

  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, ['Male', 'Female'], class: 'form-control'  %>
  </div>


  <div class="field">
    <label>Date of Birth</label>
    <%= f.datetime_select :dob,  prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year' }, :discard_hour => true , order: [:day, :month, :year] ,:discard_hour => true, :class => "form-control"  %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
