<%= form_for([@room,@booking]) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <%@hotels= Hotel.all%>
 <%@avaibilities= Avaibility.all%>
 <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id%>
  </div>

   <%@hotels.each do |h|%>
   <%if @room.hotel_id== h.id%>
   <%@hid=h.id%>
  <div class="field">
    <%= f.hidden_field :hotel_id, :value => h.id%>
  </div>
  <%end%>
  <%end%>

<%@avaibilities.each do |a|%>
   <%if a.room_id == @room.id%>
  <div class="field">
     <md-subheader class="md-primary">Price per night : <%=a.pricepn%> euros</md-subheader>
    <%= f.hidden_field :totalcost, :value => a.pricepn%>
  </div>
  <%end%>
<%end%>
  <div class="field">
   <md-subheader class="md-primary">Arriving </md-subheader>
    <%= f.datetime_select :start, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year' }, :discard_hour => true , order: [:day, :month, :year] ,:discard_hour => true, :class => "form-control"%>
  </div>


 <md-subheader class="md-primary">Departure </md-subheader>
  <div class="field">

    <%= f.datetime_select :end, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year' }, :discard_hour => true , order: [:day, :month, :year] ,:discard_hour => true, :class => "form-control" %>
  </div>



  <div class="field">
  <md-subheader class="md-primary">How many people? </md-subheader>
    <%= f.number_field :numpeople, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
