<%= form_for([@room,@booking],:html => {:name=>"f", :onsubmit => "return validate()"}) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <%@hotels= Hotel.all%>
 <%@avaibilities= Avaibility.all%>
 <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id%>
  </div>

   <%@hotels.each do |h|%>
   <%if @room.hotel_id== h.id%>
   <%@hid=h.id%>
  <div class="field">
    <%= f.hidden_field :hotel_id, :value => h.id%>
  </div>
  <%end%>
  <%end%>

<%@avaibilities.each do |a|%>
   <%if a.room_id == @room.id%>
  <div class="field">
     <md-subheader class="md-primary">Price per night : <%=a.pricepn%> euros
          <strong><%=@room.roomtype%> room</strong> Available from: <strong><%=a.datef%></strong>
 To: <strong><%=a.datet%></strong>


     </md-subheader>
    <%= f.hidden_field :totalcost, :value => a.pricepn%>
  </div>




<label value=<%=a%> type="hidden" class="datepicker" id="d1" />

<label value=<%=a%> type="hidden" class="datepicker" id="d2" />


<%if @room.roomtype== "Family"%>
 <%= f.hidden_field :rewardp, :value => 100%>
<%end%>

<%if @room.roomtype== "Single"%>
 <%= f.hidden_field :rewardp, :value => 30%>
<%end%>

<%if @room.roomtype== "Double"%>
 <%= f.hidden_field :rewardp, :value => 50%>
<%end%>



<%if @room.roomtype== "Suite"%>
 <%= f.hidden_field :rewardp, :value => 250%>
<%end%>

<%if @room.roomtype== "VIP"%>
 <%= f.hidden_field :rewardp, :value => 500%>
<%end%>

  <md-subheader class="md-primary">Check In </md-subheader><input type="text"  class="datepicker" name="booking[stdate]" id="booking_stdate" required></p> 
              
        <md-subheader class="md-primary">Check Out </md-subheader> <input type="text" name="booking[endate]"  class="datepicker" id="booking_endate" required></p> 
   
<%break%>
 <%end%>
<%end%>
 <%= f.hidden_field :rewardp, :value => 500%>
<div id="totalPrice" ></div>
<%if @room.roomtype=="Family" or  @room.roomtype=="Suite" or  @room.roomtype=="VIP"%>
 <div class="field">
  <md-subheader class="md-primary">How many people? </md-subheader>
    <%= f.number_field :numpeople, class: 'form-control' %>
  </div>
  <%end%>

  <div class="actions">
    <%= f.submit id: 'btn-sign-up'%>
  </div>


<% end %>
