<% profile = Profile.find_by_user_id(current_user.id)%>
<%points=0%>
<p id="notice"><%= notice %></p>

         <%@var=DateTime.parse(@booking.stdate)%>
         <%@var2=DateTime.parse(@booking.endate)%>
      
        <%@c=@var2-@var+1%>

<%@points1=0%>
        <div class="well col-xs-12 col-sm-10 col-md-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong><%=@room.hotel.name%> Hotel</strong>
                     
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Date: <%=Date.today.strftime("%B %d, %Y")%></em>
                    </p>
                    <p>
                        <em>Receipt #: <%=@booking.id%></em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Receipt</h1>
                </div>
                </span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Room Type</th>
                            <th>Nights</th>
                            <th>Points earned </th>
                            <th class="text-center">Price per Nigth</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <%@avaibilities.each do |a|%>
                                <%if a.room_id == @room.id%>
                                    <%@ppn=a.pricepn%>
                                    <%break%>
                                    <%end%>
                         <%end%>           
                            <td class="col-md-9" id="roomtype"><em><%=@room.roomtype%></em></h4></td>
                            <td class="col-md-1" style="text-align: center"> <%=@c.to_i%> </td>
                           
                            <td class="col-md-1 text-center"><%=@booking.rewardp%></td>
                            <td class="col-md-1 text-center">€<%=@ppn%></td>
                            
                        </tr>
                        
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>
 €<%=@booking.totalcost*@c%></strong></h4></td>
                        </tr>
                    </tbody>
                </table>


  <%@bookings.each do |b|%>
      <%if b.user_id == current_user.id%>
          <%if !b.rewardp.nil?%>
       <%points+=b.rewardp%>
       <%end%>
    <%end%>
   
  <%end%>
<% profile.update_attributes(:rewardp => points)%>

         
<%= form_tag  '/partner', :method => 'get' do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: €<%=@booking.totalcost*@c%></span>
    </label>
  </article>
<%@total=@booking.totalcost*@c%>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Tripflex"
          data-amount=<%= @amount=@total*100%>
          data-currency='eur'
          data-locale="auto"></script>

           <%if profile.rewardp>=10000%>
            <md-button class="md-accent md-raised md-hue-3" href="/reward">Pay with points</md-button>
             <%end%>


<% end %>


            </td>
            </div>
  </div>
     
<script>




</script>