<p id="notice"><%= notice %></p>

<h1>Avaibilities</h1>

<table>
  <thead>
    <tr>
      <th>Datefrom</th>
      <th>Dateto</th>
      <th>Pricepn</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% for avaibility in @avaibilities %>
      <tr>
        <td><%= avaibility.datefrom %></td>
        <td><%= avaibility.dateto %></td>
        <td><%= avaibility.pricepn %></td>
        <td><%= avaibility.available %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

