<p id="notice"><%= notice %></p>

<h1>Avaibilities</h1>

<table>
  <thead>
    <tr>
      <th>Datefrom</th>
      <th>Dateto</th>
      <th>Pricepn</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avaibilities.each do |avaibility| %>
      <tr>
        <td><%= avaibility.datefrom %></td>
        <td><%= avaibility.dateto %></td>
        <td><%= avaibility.pricepn %></td>
        <td><%= avaibility.available %></td>
        <td><%= link_to 'Show', avaibility %></td>
        <td><%= link_to 'Edit', edit_avaibility_path(avaibility) %></td>
        <td><%= link_to 'Destroy', avaibility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avaibility', new_avaibility_path %>
