<p id="notice"><%= notice %></p>

<p>
  <strong>Datefrom:</strong>
  <%= @avaibility.datefrom %>
</p>

<p>
  <strong>Dateto:</strong>
  <%= @avaibility.dateto %>
</p>

<p>
  <strong>Pricepn:</strong>
  <%= @avaibility.pricepn %>
</p>

<p>
  <strong>Available:</strong>
  <%= @avaibility.available %>
</p>

<%= link_to 'Edit', edit_avaibility_path(@avaibility) %> |
<%= link_to 'Back', avaibilities_path %>
