<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :roomtype %>
    <%= f.text_field :roomtype %>
  </div>

  <div class="field">
    <%= f.label :romnum %>
    <%= f.number_field :romnum %>
  </div>

  <div class="field">
    <%= f.label :pricepn %>
    <%= f.text_field :pricepn %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
