<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :hotel_id, :value => @hotel.id  %>
  </div>

  <div class="field">
   <label>Room Type</label>
    <%=f.select :roomtype, ['Single', 'Double', 'Triple', 'Family', 'Suite', 'VIP'], class: 'form-control'  %>
  </div>

<md-input-container >
  <div class="field">
    <label>Room Number</label>
    <%= f.number_field :romnum,  class: 'form-control' %>
  </div>
  </md-input-container>

  <div class="actions">
    <%= f.submit "Add room" , class: "btn btn-default" %>
    <md-button class="md-accent md-raised md-hue-3" href="/hotelprofile">Back</md-button>
  </div>


<% end %>
