<p id="notice"><%= notice %></p>

<p>
  <strong>Roomtype:</strong>
  <%= @room.roomtype %>
</p>

<p>
  <strong>Romnum:</strong>
  <%= @room.romnum %>
</p>

<p>
  <strong>Pricepn:</strong>
  <%= @room.pricepn %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
