<%if admin_signed_in?%>
   
<h1>Welcome Administrator</h1>
<md-button class="md-accent md-raised md-hue-3" href="/timelines/new">Add new timeline</md-button>
<md-button class="md-accent md-raised md-hue-3" href="/places/new">Add Places</md-button>
<md-button class="md-accent md-raised md-hue-3" href="/timelines/new">Add Hotel</md-button>
<md-button class="md-accent md-raised md-hue-3" href="setvs/1/edit">Set Hotel View</md-button>
<%countgf=0%>
<%countg=0%>
 <%income=0%>

<h1>Bookings</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Made on</th>
      <th>Check in</th>
      <th>Check out</th>
      <th>Points Given</th>
      <th>Username</th>
      <th>Total Paid</th>
      <th>Earned</th>
    </tr>
  </thead>
  <tbody>
 
    <%@bookings.each do |i|%>

<%if !i.stdate.nil? and !i.endate.nil?%>
    <tr>
    <th scope="row"><%=i.id%></th>
    <td><%=i.created_at.strftime("%B %d, %Y")%></td>
    <td><%=i.stdate%></td>  
    <td><%=i.endate%></td> 
    <td><%=i.rewardp%></td>  
         <%@var=DateTime.parse(i.stdate)%>
         <%@var2=DateTime.parse(i.endate)%>
         <%if !@var.nil? and !@var2.nil? %>
         <%@c=@var2-@var%>
         <%end%>
           <%profile= Profile.find_by_user_id(i.user_id)%>
              <%if !profile.nil?%>
                  <%@age=Date.today.year-profile.dob.year%>
                   <%@age++%>
                    <%if profile.gender == 'Male'%>
                     <%countg=countg+1%>
                    <%else%>
                     <%countgf=countgf+1%>
                      <%end%>

      <td><%=profile.firstname%></td> 
              <%else%>
               <td>NO profile</td>
              <%end%>

    <%if !i.totalcost.nil?%>
     <td><%=i.totalcost*@c%></td>
     <%@p1=i.totalcost*@c%>
       <td><%=@ti=@p1*10/100%></td>
    </tr>
    <%end%>
<%@f+=@ti%>
          <%if !i.totalcost.nil?%>
          <%income+=i.totalcost%>
          <%end%>
         
             
<%end%>
<%end%>
  </tbody>
</table>

<h1>Statics</h1>
<table class="table">
  <thead>
    <tr>
      <th>Total income</th>
      <th>Users registred</th>
       <th>Age Average</th>
      <th>Hotel registred</th>
      <th>Total Bookings</th>

    </tr>
  </thead>
  <tbody>



    <tr>
    <%if !@f.nil?%>
    <th scope="row">  <strong><%=@f%></strong></th>
    <%end%>
   <%if !User.nil? %>
      <th scope="row">  <strong><%=User.all.length%></strong></th>
<%end%>
<% if !Profile.nil? and !@age.nil?%>
      <th scope="row">  <strong><%=@age/Profile.all.length%></strong></th>
<%end%>
<% if !Hotel.nil?%>
        <th scope="row">  <strong><%=Hotel.all.length%></strong></th>
<%end%>
<%if !Booking.nil?%>
         <th scope="row">  <strong><%=Booking.all.length%></strong></th>
 <%end%>
    </tr>

  </tbody>



</table>


        

 <div id="container" style="min-width: 210px; height: 400px; max-width: 600px; margin: 0 auto"></div>















<%else%>
<div class="alert alert-success" role="alert">
  <strong>You are not allowed to see this page</strong>
</div>
<%end%>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
$(document).ready(function () {

    // Build the chart
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Booking Gender Statics'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Bookings',
            colorByPoint: true,
            data: [{
                name: 'Male',
                y: <%=countg%>
            }, {
                name: 'Female',
                y:<%=countgf%>,
                sliced: true,
                selected: true
            }]
        }]
    });
});
</script>