  <%if !current_hoteladmin.nil?%>
  <%hotel = Hotel.find_by_hoteladmin_id(current_hoteladmin.id)%>
<%room = Room.find_by_hotel_id(hotel)%>
<%end%>

 <div class="panel panel-primary" style="height: 100%; width: 740px;">



<%= form_tag(memberprofile_path, :method => "get", id: "search-form") do %>

    <%= text_field_tag :search, params[:search], placeholder: "Type your Destination",  class: 'form-control'  %>


    <%= submit_tag "Search", :location => nil,  class: 'form-control'  %>

<% end %>


<!-- <div class="col-md-4">
<md-input-container >
        <label>Origin</label>
        <input ng-model="origin" id="origin" required class="cities-comp">
      </md-input-container>
      </div>
      <div class="col-md-4">
<md-input-container >
        <label>Destination</label>
        <input ng-model="dest" id="dest" required class="cities-comp" >
      </md-input-container>
      </div>
<div class="col-md-4">

<md-input-container >
        <label>Budget (Euros)</label>
        <input ng-model="budget" id="exampleInputAmount"  onkeypress="return isNumber(event)" required  >
      </md-input-container>

</div>
 
                             <div class="col-md-4">  
                             <md-input-container >
                            <label><Strong>Departure</Strong></label>
                             <md-datepicker  id="startDate" ng-model="startDate" md-placeholder="Enter a Date" required></md-datepicker>
                            </md-input-container>

             

                              </div>


                             <div class="col-md-4">
                                <md-input-container >
                                <label><Strong>Returning</Strong></label>
                                <md-datepicker   id="endDate" ng-model="endDate" md-placeholder="Enter a Date" required></md-datepicker>
                                </md-input-container>
                               </div>
                        
                              <div class="col-md-2">
                               <md-input-container>
                               <label><Strong>Adults</Strong></label>
                        <md-select ng-model="adults" placeholder="Adults" >
          <md-option value="1">1</md-option>
          <md-option value="2">2</md-option>
          <md-option value="3">3</md-option>
          <md-option value="4">4</md-option>
           <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
             <md-option value="7">7</md-option>
        </md-select>
        </md-input-container>
                         
                              </div>
                                                    <div class="col-md-2">
        <md-input-container>
          <label><Strong>Kids</Strong></label>
                        <md-select ng-model="kids" placeholder="Kids" >
                        <md-option value="cloth">0</md-option>
          <md-option value="1">1</md-option>
          <md-option value="2">2</md-option>
          <md-option value="3">3</md-option>
          <md-option value="4">4</md-option>
           <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
             <md-option value="7">7</md-option>
        </md-select>
        </md-input-container>

          </div>
                 <div class="col-md-5">

<md-select placeholder="Select Interests" ng-model="interests" multiple>
        <md-option value="1">Socialising</md-option>
        <md-option value="2">Sports</md-option>
        <md-option value="3">History</md-option>
         <md-option value="4">Music</md-option>
          <md-option value="5">Technology</md-option>
      </md-select>
 
  <md-button ng-click="clear()">Reset</md-button>
</div>
     <div class="col-md-4">
            <md-button id="search" class="md-raised" onclick="go()">Go
              <label>Find Destination</label>
              </md-button>
             </div>
             <div class="col-md-4">
                     <div class="errorHand" > 
                     </div>
                </div>
                </div> -->
                <md-toolbar class="md-hue-2">
<div class="md-toolbar-tools">
 <h2 flex md-truncate>Most popular hotels</h2>
       </div>
</md-toolbar>
      <%totalB=0%>
         <%@hotels.each do |h|%>
         <%count=0%>
               <%@bookings.each do |b|%>
                      <% if b.hotel_id == h.id%>
                          <%count=count+1%>

                        <%end%>
                        <%totalB=totalB+1%>
                  <%end%>           
                        
                         <!-- %next if count<1%> -->


                   
 <div flex-xs flex-gt-xs="100" layout="column" >
      <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><%=h.name%></span>

            <span class="md-subhead"><%=h.description%></span>
               <md-subheader class="md-primary"> This hotel has been booking <%=count%> times</md-subheader>

          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"> <%= (image_tag h.hotelimg)%></div>
       <br>
          </md-card-title-media>

          <md-card-title-media>
            <div class="md-media-lg card-media"> <%= (image_tag h.hotelimg)%></div>
         
          </md-card-title-media>
        </md-card-title>

        <% @rooms.each do |room| %>
            <%if room.hotel_id == h.id%>
                 <%@avaibilities.each do |a| %>
                     <%if a.room_id == room.id%>
                           <%if a.available ==true%>
                           <md-subheader class="md-primary"><%= room.roomtype %> Room Available</md-subheader>
                         
                             <%= link_to('Book now', new_room_booking_path(room.id), class: 'form-control')%>

                            <%else%>
                             <div id="norooms"> </div>
                            <%end%>   
                      <%end%>   
                  <%end%>
           <%end%>
          <%end%>
      
        <md-card-actions layout="row" layout-align="end center">
      
          <md-button>See details</md-button>
        </md-card-actions>
      </md-card>
      </div>
<%end%>


      </div>
</div>



<script>
 $(".errorHand").hide();
  $(document).ready(function(){
      var options = {
        url: "https://api.myjson.com/bins/v2n3r",
        listLocation: "response",
         getValue: "name",
         list: {  
            match: {
            enabled: true
            },
            maxNumberOfElements: 3,
          showAnimation: {
            type: "slide", //normal|slide|fade
            time: 200,
            callback: function() {}
        },

        hideAnimation: {
            type: "slide", //normal|slide|fade
            time: 200,
            callback: function() {}
        }

    }
      
  };
              $(".cities-comp").easyAutocomplete(options);
});
</script>


<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>