  <%if !current_hoteladmin.nil?%>
  <%hotel = Hotel.find_by_hoteladmin_id(current_hoteladmin.id)%>
<%room = Room.find_by_hotel_id(hotel)%>
<%end%>

 <div class="panel panel-primary" style="height: 100%; width: 740px;">



<%= form_tag(memberprofile_path, :method => "get", id: "search-form") do %>

    <%= text_field_tag :search, params[:search], placeholder: "Type your Destination",  class: 'form-control' , require: 'true' %>


    <%= submit_tag "Search", :location => nil,  class: 'form-control'  %>

<% end %>



                <md-toolbar class="md-hue-2">
<div class="md-toolbar-tools">
 <h2 flex md-truncate>Most popular hotels</h2>
       </div>
</md-toolbar>
      <%totalB=0%>
         <%@hotels.each do |h|%>
         <%count=0%>
               <%@bookings.each do |b|%>
                      <% if b.hotel_id == h.id%>
                          <%count=count+1%>

                        <%end%>
                        <%totalB=totalB+1%>
                  <%end%>         

                 <!--     %setv = Setv.find_by_id(1)%>
                         %next if count<setv.set%>
 -->

                   
 <div flex-xs flex-gt-xs="100" layout="column" >
      <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><%=h.name%></span>

            <span class="md-subhead"><%=h.description%></span>
              

          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"> <%= (image_tag h.hotelimg)%></div>
       <br>
          </md-card-title-media>

          <md-card-title-media>
            <div class="md-media-lg card-media"> <%= (image_tag h.hotelimg)%></div>
         
          </md-card-title-media>
        </md-card-title>

        <% @rooms.each do |room| %>
            <%if room.hotel_id == h.id%>
               <%@avaibilities.each do |a|%>
                     <%if a.room_id ==room.id%>
                         <% if a.available==true%> 

                           <md-subheader class="md-primary"><%= room.roomtype %> Room Available   <md-button class="md-accent md-raised md-hue-3" href="/rooms/<%=room.id%>/bookings/new">Book Now!</md-button></md-subheader>

                           <%break%>
                          <%else%>
                            <md-subheader class="md-warn"> <%=room.roomtype%> rooms Sold out!</md-subheader>
                        <%end%>
                   <%end%>   
                <%end%> 
           <%end%> 
 <%end%>
            <md-card-actions layout="row" layout-align="end center">
       <md-subheader > This hotel has been booking <%=count%> times</md-subheader>
          <md-button class="md-accent md-raised md-hue-3"  href="/hotels/<%=h.id%>">See details</md-button>
        </md-card-actions>
      </md-card>

          
<%end%>

      </div>



      </div>
</div>





<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>