  <%if hoteladmin_signed_in?%>

  <%hotel = Hotel.find_by_hoteladmin_id(current_hoteladmin.id)%>

<%room = Room.find_by_hotel_id(hotel)%>


  <%if hotel.nil? %>
<h3> You dont have a Hotel registred</h3>
<md-button href="/hotels/new" class="md-raised">Click here to add your Hotel</md-button>

<%else%>
  
<%if current_hoteladmin.id== hotel.hoteladmin_id%>
<md-toolbar md-colors="::{background: '{{default}}-primary-700'}"  >
      <div class="md-toolbar-tools">
        <h2 flex md-truncate><%=hotel.name%> Hotel</h2>
      </div>
    </md-toolbar>
 <%= link_to 'Edit Hotel',  edit_hotel_path(hotel), class: "btn btn-default" %>
<%end%>
<%end%>



<%if room.nil? %>
<md-button class="md-accent md-raised md-hue-3" href="/rooms/new">Add rooms</md-button>
<%else%>

<div class="alert alert-success" role="alert" id="roomtT">
  You have  <strong><%=hotel.rooms.count%> Room</strong> available.
</div>

<md-button class="md-accent md-raised md-hue-3" ng-click="showAv();">See Avaibilities</md-button>
<md-button class="md-accent md-raised md-hue-3" href="/rooms/new">Add rooms</md-button>


<table class="table" id="roomT">
  <thead>
    <tr>
      <th>Room #</th>
      <th>Room Type</th>
      <th>Availablity</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>

<% @rooms.each do |room| %>
<%if hotel.id== room.hotel_id%>
    <tr>
      <th scope="row"><%= room.romnum%></th>
      <td><%= room.roomtype %></td>
      <td><%= link_to 'Set avaibility', new_room_avaibility_path(room), class: "btn btn-default" %>
      <%= link_to 'View avaibility',  room_avaibilities_path(room), class: "btn btn-default" %></td>
       <td><%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <%end%>
    <%end%>
  </tbody>
</table>

<div class="alert alert-success" role="alert" id="titleAv">
  <strong>All Availabilities</strong>
</div>
<table class="table" id="avaibilities">

  <thead>
    <tr>
      <th>Room #</th>
      <th>Available From</th>
      <th>To</th>
      <th>Price</th>
      <th>Avaibility</th>
    </tr>
  </thead>
  <tbody>
   <%(0..hotel.rooms.count).each do |i|%>
     <%@avaibilities.each do |h|%>
     <% if  hotel.rooms.ids[i] == h.room_id %>
            <%avaibility = Avaibility.find_by_room_id(hotel.rooms.ids[i])%>
            <%@var=h.id%>
            <% for avaibility in @avaibilities %>
            <% if  @var == avaibility.id %>
           <tr>
             <th scope="row"><%=avaibility.room.romnum%></th>
          
               <td> <%=avaibility.datef%></td>
                 <td> <%=avaibility.datet%></td>
             <td> <%=avaibility.pricepn%></td>
              <td> <%=avaibility.available%></td>
           </tr>
              <%end%>
              <%end%>
              <%end%>
              <%end%>
              <%end%>
          </tbody>
      </table>
      <md-button class="md-accent md-raised md-hue-3" ng-click="backAv()" id="back">Back</md-button>

<%end%>
<%else%>
<div class="alert alert-success" role="alert">
  <strong>You are not allowed to see this page</strong>
</div>
<%end%>

<h1>Bookings</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Room Type</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <%@bookings.each do |i|%>
       <%if i.hotel_id == hotel%>
    <tr>
      <th scope="row">h.id</th>
      <td><%=i.created_at%></td>
      <td><%=i.room.roomtype%></td>
    
          <%profile=Profile.find_user_by_id(i.user_id)%>
      <td> <%=profile.firstname%></td>
      <%end%>
      
    </tr>
<%end%>
  </tbody>
</table>

<script type="text/javascript">
	$("#avaibilities").hide();
	$("#titleAv").hide();
	 $("#back").hide();
</script>