  <%hotel = Hotel.find_by_hoteladmin_id(current_hoteladmin.id)%>

  <%if hotel.nil? %>
<h3> You dont have a Hotel registred</h3>
<md-button href="/hotels/new" class="md-raised">Add Hotel</md-button>

<%else%>

<%if current_hoteladmin.id== hotel.hoteladmin_id%>
<md-toolbar md-colors="::{background: '{{default}}-primary-700'}"  >
      <div class="md-toolbar-tools">
        <h2 flex md-truncate><%=hotel.name%> Hotel</h2>
      </div>
    </md-toolbar>

<%end%>
<%end%>


<md-button class="md-accent md-raised md-hue-3" href="/rooms/new">Add rooms</md-button>

<%room = Room.find_by_hotel_id(hotel.id)%>

<%if room.nil?%>
No rooms added yet...
<%else%>
<div class="alert alert-success" role="alert">
  You have  <strong><%=hotel.rooms.count%> Room</strong> available.
</div>


<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Room Type</th>
      <th>Availability</th>
      <th>Quantity</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>

<% @rooms.each do |room| %>
<%if hotel.id== room.hotel_id%>
    <tr>
      <th scope="row"><%= room.romnum%></th>
      <td><%= room.roomtype %></td>
      <td><%= link_to 'Set avaibility', new_room_avaibility_path(room) %></td>
      <td><%= room.quantity %></td>
       <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <%end%>
    <%end%>
  </tbody>
</table>

<h1> Availability</h1>   


   <%(0..hotel.rooms.count).each do |i|%>
     <%@avaibilities.each do |h|%>
     <% if  hotel.rooms.ids[i] == h.room_id %>
            <%avaibility = Avaibility.find_by_room_id(hotel.rooms.ids[i])%>
            <%@var=h.id%>belongs to<%=hotel.rooms.ids[i]%>
          
            <% for avaibility in @avaibilities %>
            <% if  @var == avaibility.id %>
            Date:  <%=avaibility.dateto%>
              <%end%>
            <%end%>

            <%end%>
              <%end%>
    
              <%end%>


<%end%>
