<%if admin_signed_in?%>

<%= form_for(timeline) do |f| %>
  <% if timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% timeline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<md-input-container >

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'%>
  </div>
</md-input-container>
<md-input-container >
  <div class="field">
    <%= f.label :desc %>
    <%= f.text_field :desc, class: 'form-control'%>
  </div>
</md-input-container>
<md-input-container >
  <div class="field">
    <label>Image</label>
    <%= f.text_field :avatar , class: 'form-control'%>
  </div>
</md-input-container>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
<%else%>
<div class="alert alert-success" role="alert">
  <strong>You are not allowed to see this page</strong>
</div>
<%end%>
