<%= form_for(hotel) do |f| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <%= f.hidden_field :hoteladmin_id, :value => current_hoteladmin.id  %>
  </div>
   <md-input-container>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</md-input-container>
  <md-input-container>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
  </md-input-container>

<md-input-container>
  <div class="field">
    <%= f.label :hotelimg2 %>
    <%= f.text_field :hotelimg2 , class: 'form-control'%>
  </div>
</md-input-container>

<md-input-container>
  <div class="field">
    <%= f.label :hotelimg %>
    <%= f.text_field :hotelimg , class: 'form-control'%>
  </div>
</md-input-container>
<md-input-container>
  <div class="field">
    <%= f.label :Description %>
    <%= f.text_area :description , size: "35x2",class: 'form-control'%>
  </div>
</md-input-container>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
