<p id="notice"><%= notice %></p>

<p>
  <strong>Star:</strong>
  <%= @rate.star %>
</p>

<p>
  <strong>Coments:</strong>
  <%= @rate.coments %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
