<!DOCTYPE html>
<html  >
  <head>
    <title  >Tripflex</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script>
  $('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
 
</script>

  </head>
  <body ng-app="firstApplication" ng-controller="dateController" style=" background-color:none">

  <div class="container-fluid">
    <div md-layout style="width:1100px;">
    <div md-layout-row>
 
 
  <div class="flex">
    
  <md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-href=<%=root_path%>>
    TripFlex
  </md-nav-item>
  <md-nav-item md-nav-href="#page2" name="page3">How Works</md-nav-item>
      <!-- <md-nav-item md-nav-click="goto('page1')" ng-click="toggle=!toggle" name="page1">Services -->

<!-- </md-nav-item> -->
  <md-nav-item md-nav-sref="app.page4" sref-opts="{reload: true, notify: true}" name="page4">
    About us
  </md-nav-item>

            <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Admin</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Affiliates<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Hotel Admins</a></li>
                <li><a href="#">Fligths Admins</a></li>
                <li class="divider"></li>
                <li><a href="#">Be our Partner</a></li>
              </ul>
            </li>
          </ul>
</md-nav-bar>
</div>

  <div class="flex">
<br>
     
<br>

<md-toolbar class="md-hue-2">
<div class="md-toolbar-tools">

<%if current_page?(new_user_registration_path)%>
       <h2 flex md-truncate>Become a member</h2>
        <%end%>

        <%if current_page?('/')%>
     <h2 flex md-truncate>Find your Destination</h2>
   <%end%>
        <%if current_page?('/home')%>
   <h2 flex md-truncate>Find your Destination</h2>
   <%end%>
    <%if (notice!=""&& alert!="")%>
    <h2  style="float:right;"><%= notice %> </h2>
    <%end%>

       <%if current_page?(new_hoteladmin_registration_path)%>

    <h2 flex md-truncate>Hotel Admin Registration</h2>
    <%end%>
           <%if current_page?(new_hoteladmin_session_path)%>

    <h2 flex md-truncate>Hotel Admin Log In</h2>
    <%end%>
            <%if current_page?(new_flightadmin_session_path)%>

    <h2 flex md-truncate>Airline Admin Sign Up</h2>
    <%end%>
            <%if current_page?(new_flightadmin_registration_path)%>

    <h2 flex md-truncate>Airline Admin Log In</h2>
    <%end%>
<!-- <h5> <%= notice %> </h5>
    <h5> <%= alert %></h5> -->
<%if current_page?(new_user_session_path)%>
<h2 flex md-truncate>Log in</h2>
<%end%>

<md-button class=" md-raised" href="/users/sign_in">Log In</md-button>
<md-button class="md-accent md-raised md-hue-4" href="/users/sign_up">Sgn Up</md-button>
      </div>
</md-toolbar>
</div>





 
<div class="flex" style="width: 320px; float: right;" >
<br>
<br>
<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools" >
<h2 flex md-truncate>Menu</h2>
</div>
</md-toolbar>
<md-button class="md-raised" href="/users/sign_up" style="width: 310px;">Home</md-button>
<md-button class="md-raised" href="/users/sign_up" style="width: 310px;">Home</md-button>
<md-button class="md-raised" href="/users/sign_up" style="width: 310px;">Home</md-button>
<md-button class="md-raised" href="/users/sign_up" style="width: 310px;">Home</md-button>
<md-button class="md-raised" href="/users/sign_up" style="width: 310px;">Home</md-button>
<md-button class="md-raised" href="/users/sign_up" style="width: 310px;">Home</md-button>
</div>



 
</div>
</div>
 <br>
 <div class="panel panel-primary" style="height: 100%; width: 740px;">

<%= yield %> 
</div>
</div>




<!-- <div class="col-md-6">

        
        <md-button class="md-warn md-raised md-hue-2" href="/users/sign_up" style="width: 310px;">Home</md-button>
          <md-button class="md-warn md-raised md-hue-2" href="/users/sign_up" style="width: 310px;">Home</md-button>  <md-button class="md-warn md-raised md-hue-2" href="/users/sign_up" style="width: 310px;">Home</md-button>  <md-button class="md-warn md-raised md-hue-2" href="/users/sign_up" style="width: 310px;">Home</md-button>  <md-button class="md-warn md-raised md-hue-2" href="/users/sign_up" style="width: 310px;">Home</md-button>  <md-button class="md-warn md-raised md-hue-2" href="/users/sign_up" style="width: 310px;">Home</md-button>  <md-button class="md-warn md-raised md-hue-2" href="/users/sign_up" style="width: 310px;">Home</md-button>
          </div> -->

</div>


<!-- </div> -->
<!-- <md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-click="goto('page1')" name="page1">
    Page One
  </md-nav-item>
  <md-nav-item md-nav-href="#page2" name="page3">Page Two</md-nav-item>
  <md-nav-item md-nav-sref="page3" name="page2">Page Three</md-nav-item>
  <md-nav-item md-nav-sref="app.page4" sref-opts="{reload: true, notify: true}" name="page4">
    Page Four
  </md-nav-item>
</md-nav-bar>
 -->             

<br>
<br>

    </div>

    <!--<%= link_to "Log in", new_admin_session_path %><br />-->
    
<!--<% if user_signed_in? %>
<br><li><%= link_to('Logout', destroy_user_session_path, :method  => 'delete',  data: { confirm: 'Are you sure?' }) %> </li>
<%end%>
<li><%= link_to('Logout', destroy_admin_session_path, :method  => 'delete',  data: { confirm: 'Are you sure?' }) %> </li>-->


  </body>
</html>


