<!DOCTYPE html>
<html >
  <head>
    <title  >Tripflex</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script>
  $('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
 
</script>


  <!-- Compiled and minified JavaScript -->
 
  </head>
  <body ng-app="firstApplication" ng-controller="dateController" ng-cloak>
 <div  id="ng-scope" >

    <div md-layout style="width:1100px; margin: 0 auto;">
    <div md-layout-row>
 
 
  <div class="flex">
    
  <md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-href=<%=root_path%>>
    TripFlex
  </md-nav-item>
  <md-nav-item md-nav-href="#page2" name="page3">How Works</md-nav-item>
      <!-- <md-nav-item md-nav-click="goto('page1')" ng-click="toggle=!toggle" name="page1">Services -->

<!-- </md-nav-item> -->
  <md-nav-item md-nav-sref="app.page4" sref-opts="{reload: true, notify: true}" name="page4">
    About us
  </md-nav-item>

            <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Admin</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Affiliates<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/hotelprofile">Hotel Admins</a></li>
                <li><a href="/airlineprofile">Fligths Admins</a></li>
                <li class="divider"></li>
                <li><a href="/partner">Be our Partner</a></li>
              </ul>
            </li>
          </ul>
</md-nav-bar>
</div>

  <div class="flex">
<br>
     
<br>

<md-toolbar class="md-hue-2">
<div class="md-toolbar-tools">

<%if current_page?(new_user_registration_path)%>
       <h2 flex md-truncate>Become a member</h2>
        <%end%>
        <%if current_page?(hotelprofile_path)%>
       <h2 flex md-truncate>Hotel Managment </h2>
        <%end%>
         <%if current_page?(airlineprofile_path)%>
       <h2 flex md-truncate>Airline Managment</h2>
        <%end%>
        <%if current_page?(new_profile_path)%>
       <h2 flex md-truncate>Create a Profile before to continue</h2>
        <%end%>
         <%if current_page?(adminpage_path)%>
       <h2 flex md-truncate>Administrator identifier </h2>
        <%end%>
          <%if current_page?(adminpage_path)%>
       <h2 flex md-truncate>Tripflex Administrator </h2>
        <%end%>

        <%if current_page?('/')%>
     <h2 flex md-truncate>Find your Destination</h2>
   <%end%>
        <%if current_page?('/home')%>
   <h2 flex md-truncate>Find your Destination</h2>
   <%end%>
    <%if (notice!=""&& alert!="")%>
    <h2  style="float:right;"><%= notice %><%=alert%> </h2>
    <%end%>

       <%if current_page?(new_hoteladmin_registration_path)%>

    <h2 flex md-truncate>  Hotel Admin Registration</h2>
    <%end%>
           <%if current_page?(new_hoteladmin_session_path)%>

    <h2 flex md-truncate>  Hotel Admin Log In</h2>
    <%end%>
  
            <%if current_page?(new_flightadmin_session_path)%>

    <h2 flex md-truncate>  Airline Admin Log In</h2>
    <%end%>
           <%if current_page?(new_flightadmin_registration_path)%>

    <h2 flex md-truncate>  Airline Admin Sing Up</h2>
    <%end%>
<!-- <h5> <%= notice %> </h5>
    <h5> <%= alert %></h5> -->
<%if current_page?(new_user_session_path)%>
<h2 flex md-truncate>Log in</h2>
<%end%>
<%if current_page?(new_room_path)%>
<h2 flex md-truncate>Add Rooms</h2>
<%end%>

<% if user_signed_in?%>
<%= link_to('Logout', destroy_user_session_path, :class => "btn btn-default ", :style =>'color:red;', :method  => 'delete',  data: { confirm: 'Are you sure?' }) %>
<%elsif%>
<% if hoteladmin_signed_in?%>
<%= link_to('Logout', destroy_hoteladmin_session_path, :class => "btn btn-default ", :style =>'color:red;',:method  => 'delete',  data: { confirm: 'Are you sure?' }) %>
<%elsif%>
<% if flightadmin_signed_in?%>
<%= link_to('Logout', destroy_flightadmin_session_path, :class => "btn btn-default ",:style =>'color:red;', :method  => 'delete',  data: { confirm: 'Are you sure?' }) %>
<%elsif%>
<% if current_page?(partner_path)%>
<h2 flex md-truncate>Who are you?</h2>
<%elsif%>
<% if current_page?(new_hoteladmin_session_path) or current_page?(new_hoteladmin_registration_path)%>
<md-button class=" md-accent md-raised md-hue-2" href="/hoteladmins/sign_in">Log In</md-button>
<md-button class="md-accent md-raised md-hue-2" href="/hoteladmins/sign_up">Sign Up</md-button>
<%elsif%>
<% if current_page?(new_flightadmin_session_path) or current_page?(new_flightadmin_registration_path)%>
<md-button class=" md-accent md-raised md-hue-2" href="/flightadmins/sign_in">Log In</md-button>
<md-button class="md-accent md-raised md-hue-2" href="/flightadmins/sign_up">Sign Up</md-button>
<%else%>

<md-button class="md-accent md-raised md-hue-2" href="/users/sign_in">Log In</md-button>
<md-button class="md-accent md-raised md-hue-2" href="/users/sign_up">Sign Up</md-button>

<%end%>
<%end%>
<%end%>
<%end%>
<%end%>
<%end%>


      </div>
</md-toolbar>
</div>





 
<div class="flex" style="width: 320px; float: right;" >
<br>
<br>
<md-toolbar class="md-warn">
      <div class="md-toolbar-tools" >
<h2 flex md-truncate>Become our partner</h2>
     </div>

<md-button class=" md-raised" href="/hoteladmins/sign_up">Hotel Owner? </md-button>
<md-button class="md-raised " href="/flightadmins/sign_up">Airline Owner?</md-button>
<md-button class="md-raised md-hue-4" href="/users/sign_up">New member?</md-button>

</md-toolbar>


<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Timeline</span>
    </h2>
  </md-toolbar>
<% (0..4).each do %>
 <md-content class="flex" style="width: 320px; float: right;">
 
    <md-list>
      <md-list-item class="md-3-line" >
      <%=(image_tag "https://www.w3schools.com/css/trolltunga.jpg", :class => "md-avatar")%> 
      <!--   <img ng-src=class= > -->
         
        <div class="md-list-item-text" >
          <h3>Get points Book noW!  </h3>
          <h4>Book one or more rooms to get points</h4>
           
          <p>
            Valid for all members!
          </p>
        </div>
          <md-divider md-inset ng-if="!$last"></md-divider>
    
      </md-list-item>

    </md-list>

  </md-content>
   <%end%>







</div>


 <div class="panel panel-primary" style="height: 100%; width: 740px;">
<%= yield %> 

</div>


</div>

</div>





    </div>







</div>

  </body>
</html>


