<!DOCTYPE html>
<html >
  <head>
    <title  >Tripflex</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> 
  <script>
  $('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
 
</script>
  <script>
  $( function() {
    $( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy" });
  } );
  </script>


  </head>
  <body ng-app="firstApplication" ng-controller="dateController" ng-cloak>
 <div  id="ng-scope" >

    <div md-layout style="width:1100px; margin: 0 auto;">
    <div md-layout-row>
 <%@timelines= Timeline.all%>
 
  <div class="flex">
    
  <md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-href=<%=root_path%> >
  <%=(image_tag "tf.ico", size: "18x20", :class => "md-avatar")%> 
    TripFlex
  </md-nav-item>
  <md-nav-item md-nav-href="#page2" name="page3">How Works</md-nav-item>
      <!-- <md-nav-item md-nav-click="goto('page1')" ng-click="toggle=!toggle" name="page1">Services -->

<!-- </md-nav-item> -->
  <md-nav-item md-nav-sref="app.page4" sref-opts="{reload: true, notify: true}" name="page4">
    About us
  </md-nav-item>

            <ul class="nav navbar-nav navbar-right">
            <li><a href="/adminpage">Admin</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Affiliates<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/hotelprofile">Hotel Admins</a></li>
                <li><a href="/airlineprofile">Fligths Admins</a></li>
                <li class="divider"></li>
                <li><a href="/partner">Be our Partner</a></li>
              </ul>
            </li>
          </ul>
</md-nav-bar>
</div>

  <div class="flex">
<br>
     
<br>

<md-toolbar class="md-hue-2">
<div class="md-toolbar-tools">

<%if current_page?(new_user_registration_path)%>
       <h2 flex md-truncate>Become a member</h2>
        <%end%>
        <%if current_page?(hotelprofile_path)%>
       <h2 flex md-truncate>Hotel Managment </h2>
        <%end%>
         <%if current_page?(airlineprofile_path)%>
       <h2 flex md-truncate>Airline Managment</h2>
        <%end%>
        <%if current_page?(new_profile_path)%>
       <h2 flex md-truncate>Create a Profile before to continue</h2>
        <%end%>
         <%if current_page?(adminpage_path)%>
       <h2 flex md-truncate>Administrator identifier </h2>
        <%end%>
          <%if current_page?(adminpage_path)%>
       <h2 flex md-truncate>Tripflex Administrator </h2>
        <%end%>

        <%if current_page?('/')%>
     <h2 flex md-truncate>Find your Destination</h2>
   <%end%>
        <%if current_page?('/home')%>
   <h2 flex md-truncate>Find your Destination</h2>
   <%end%>
    <%if (notice!=""&& alert!="")%>
    <h2  style="float:right;"><%= notice %><%=alert%> </h2>
    <%end%>

       <%if current_page?(new_hoteladmin_registration_path)%>

    <h2 flex md-truncate>  Hotel Admin Registration</h2>
    <%end%>
           <%if current_page?(new_hoteladmin_session_path)%>

    <h2 flex md-truncate>  Hotel Admin Log In</h2>
    <%end%>
  
            <%if current_page?(new_flightadmin_session_path)%>

    <h2 flex md-truncate>  Airline Admin Log In</h2>
    <%end%>
           <%if current_page?(new_flightadmin_registration_path)%>

    <h2 flex md-truncate>  Airline Admin Sing Up</h2>
    <%end%>

<%if user_signed_in?%>
    <%if current_page?(new_profile_path(current_user.id))%>
     <h2 flex md-truncate>  New Profile</h2>
     <%end%>
     <%end%>
     <%if current_page?(memberprofile_path)%>
      <h2 flex md-truncate>  Member Area</h2>

    
      <%end%>
        
      
     

<!-- <h5> <%= notice %> </h5>
    <h5> <%= alert %></h5> -->
<%if current_page?(new_user_session_path)%>
<h2 flex md-truncate>Log in</h2>
<%end%>
<%if current_page?(new_room_path)%>
<h2 flex md-truncate>Add Rooms</h2>
<%end%>

<% if user_signed_in?%>
<%= link_to('Logout', destroy_user_session_path, :class => "btn btn-default ", :style =>'color:red;', :method  => 'delete',  data: { confirm: 'Are you sure?' }) %>
<%elsif%>
<% if hoteladmin_signed_in?%>
<%= link_to('Logout', destroy_hoteladmin_session_path, :class => "btn btn-default ", :style =>'color:red;',:method  => 'delete',  data: { confirm: 'Are you sure?' }) %>
<%elsif%>
<% if flightadmin_signed_in?%>
<%= link_to('Logout', destroy_flightadmin_session_path, :class => "btn btn-default ",:style =>'color:red;', :method  => 'delete',  data: { confirm: 'Are you sure?' }) %>
<%elsif%>
<% if current_page?(partner_path)%>
<h2 flex md-truncate>Who are you?</h2>
<%elsif%>
<% if current_page?(new_hoteladmin_session_path) or current_page?(new_hoteladmin_registration_path)%>
<md-button class=" md-accent md-raised md-hue-2" href="/hoteladmins/sign_in">Log In</md-button>
<md-button class="md-accent md-raised md-hue-2" href="/hoteladmins/sign_up">Sign Up</md-button>
<%elsif%>
<% if current_page?(new_flightadmin_session_path) or current_page?(new_flightadmin_registration_path)%>
<md-button class=" md-accent md-raised md-hue-2" href="/flightadmins/sign_in">Log In</md-button>
<md-button class="md-accent md-raised md-hue-2" href="/flightadmins/sign_up">Sign Up</md-button>
<%elsif%>
<% if admin_signed_in?%>
<%= link_to('Logout', destroy_admin_session_path, :class => "btn btn-default ",:style =>'color:red;', :method  => 'delete',  data: { confirm: 'Are you sure?' }) %>
<%else%>
<md-button class="md-accent md-raised md-hue-2" href="/users/sign_in">Log In</md-button>
<md-button class="md-accent md-raised md-hue-2" href="/users/sign_up">Sign Up</md-button>

<%end%>
<%end%>
<%end%>
<%end%>
<%end%>
<%end%>
<%end%>

      </div>
</md-toolbar>
</div>





 
<div class="flex" style="width: 320px; float: right;" >
<br>
<br>
<md-toolbar class="md-warn">
      <div class="md-toolbar-tools" >
<h2 flex md-truncate>Menu</h2>
     </div>

     <%count=0%>
   <%points1=0%>
   <%points=0%>
<%if user_signed_in?%>

<%@hotels=Hotel.all%>
<%@bookings=Booking.all%>
<% profile = Profile.find_by_user_id(current_user.id)%>
<% if profile.nil?%>
<md-subheader class="md-primary"> Welcome <%=current_user.email%></md-subheader>
 
  <!-- <li><%= link_to('Create a profile before ', new_profile_path(current_user.id)) %></li> -->
  <%else%>
  <md-subheader class="md-primary">Welcome <%=profile.firstname%></md-subheader>
<!-- calculate points base on room type  -->
  


  <%if count>0%>
   <md-subheader class="md-primary">You have booked <%=count%> times</md-subheader>

 <%else%>

  <md-subheader class="md-primary">You have not booked yet Why not Book a room now ! </md-subheader>
  
  <%end%>
  <%if profile.rewardp >= 10000%>
   <md-subheader class="md-primary">Congratulations you can book a Single room with your points!</md-subheader>
     <md-subheader class="md-primary">Your points <%=profile.rewardp%></md-subheader>
   <%else%>

         <md-subheader class="md-primary">Your points <%=profile.rewardp%></md-subheader>
         <%end%>

        <%@bookings.each do |b|%>
        <%if b.user_id == current_user.id%>
          <%@hotels.each do |h|%>
             <%if h.id == b.hotel_id %>
             
                  <md-subheader class="md-primary">You recently visited <%=h.location%> </md-subheader>
                 
               <%end%> 
               
             <%end%> 
             <%break%>   
    <%end%>
   <%end%>       

<%end%>

<%else%>
<%if hoteladmin_signed_in?%>
  <md-subheader class="md-primary">Welcome Hotel administrator</md-subheader>
    <md-subheader class="md-primary">Manage your hotel</md-subheader>
<%else%>
<md-button class="md-raised md-hue-4" href="/users/sign_up">New member?</md-button>
<md-button class=" md-raised" href="/hoteladmins/sign_up">Hotel Owner? </md-button>
<%end%>
<%end%>

</md-toolbar>


<md-toolbar class="md-warn">
    <h2 class="md-toolbar-tools">
      <span>Timeline</span>
    </h2>
  </md-toolbar>
     <md-progress-linear md-mode="indeterminate" ></md-progress-linear>
     <%@timelines.limit(@timelines.count).each do |t|%>
 <md-content class="flex" style="width: 320px; float: right;">

    <md-subheader class="md-primary"><%=t.title%></md-subheader>
    <md-list>

      <md-list-item class="md-3-line" >
      <%=(image_tag t.avatar, :class => "md-avatar")%> 
      <!--   <img ng-src=class= > -->
      
        <div class="md-list-item-text" >
          <h5><%=t.desc%></h5>
        </div>

    
      </md-list-item>

<md-divider ng-if="!$last"></md-divider>
    </md-list>

  </md-content>
   <%end%>

</div>


 <div class="panel panel-primary" style="height: 100%; width: 740px;">
<%= yield %> 

</div>


</div>

</div>





    </div>



</div>

  </body>
</html>


<script>
var app= angular.module('firstApplication', ['ngMaterial','ngMessages'])

    
  app.controller('dateController', function ($scope)
{


$scope.validation = function (startDate, endDate){

if ($("#origin").val()=="") {
     $(".errorHand").html("Enter an Origin!");
     $(".errorHand").show();
     $(".errorHand").addClass('animated tada');
     $(".errorHand").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
    function (e){
       $(".errorHand").removeClass('tada');
   }); 
    
     // $("#errorHand").hide(1121);
     return false;
}
if ($("#dest").val()=="") {
     $(".errorHand").html("Enter a Destination!");
     $(".errorHand").show();
     $(".errorHand").addClass('animated tada');
     $(".errorHand").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
    function (e){
       $(".errorHand").removeClass('tada');
   }); 
     return false;
}
if ($("#exampleInputAmount").val()=="") {

   $(".errorHand").html("Set a Budget please!");
   $(".errorHand").show();
   $(".errorHand").addClass('animated tada');
   $(".errorHand").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
    function (e){
       $(".errorHand").removeClass('tada');
   }); 
     return false;
  }

  if ($("#exampleInputAmount").val()<200){
    $(".errorHand").html("Budget too low!");
    $(".errorHand").show();
    $(".errorHand").addClass('animated tada');
    $(".errorHand").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
    function (e){
       $(".errorHand").removeClass('tada');
   }); 
         return false;
      }
      var d1= startDate;
      var d2= endDate;
      //var nigths = d1-d2;
  
if (endDate == undefined && startDate==undefined){
     $(".errorHand").html("Dates cannot be blank");
     $(".errorHand").show();
     $(".errorHand").addClass('animated tada');
     $(".errorHand").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
    function (e){
       $(".errorHand").removeClass('tada');
   }); 
   
    return false;
  }if (startDate==undefined){
     $(".errorHand").html("Departure date is blank!");
     $(".errorHand").show();
     $(".errorHand").addClass('animated tada');
     $(".errorHand").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
    function (e){
       $(".errorHand").removeClass('tada');
   }); 
    
    return false;
  }
  if (endDate==undefined){
     $(".errorHand").html("Returning date is blank");
     $(".errorHand").show();
     $(".errorHand").addClass('animated tada');
     $(".errorHand").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
 function (e){
       $(".errorHand").removeClass('tada');
}); 
   return false;

  } if (d1>d2){

    $(".errorHand").html("Departure date is greater than returning date!");
    $(".errorHand").show();
    $(".errorHand").addClass('animated tada');
    $(".errorHand").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
    function (e){
       $(".errorHand").removeClass('tada');
   }); 
    
       return false;
  }
  else {
     $(".errorHand").hide();
  
    return true;
  }
 }


$scope.adults= 1;
  $scope.clear = function(){
      $scope.interests = undefined;
      $scope.origin= undefined;
      $scope.dest= undefined;
      $scope.budget= undefined;
      $scope.adults= undefined;
      $scope.kids= undefined;
      $scope.startDate = undefined;
      $scope.endDate= undefined;
  };


$scope.showAv= function(){
       $("#roomT").hide();
       $("#roomtT").hide();
  $("#titleAv").show();
  $("#titleAv").addClass('animated fadeIn');
  $("#titleAv").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
 function (e){
       $("#titleAv").removeClass('fadeIn');
}); 

  $("#avaibilities").show();
  $("#avaibilities").addClass('animated fadeIn');
  $("#avaibilities").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
 function (e){
       $("#avaibilities").removeClass('fadeIn');
}); 
$("#back").show();

}

$scope.backAv= function (){
  $("#avaibilities").hide();
  $("#titleAv").hide();
  $("#back").hide();
  $("#roomT").show();
  $("#roomT").addClass('animated fadeIn');
  $("#roomT").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
 function (e){
       $("#roomT").removeClass('fadeIn');
}); 
  $("#roomtT").show();
$("#roomtT").addClass('animated fadeIn');
  $("#roomtT").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
 function (e){
       $("#roomtT").removeClass('fadeIn');
}); 

};



 $scope.face = 'http://95tvdbxmdo-flywheel.netdna-ssl.com/wp-content/uploads/2014/06/content.jpg';

$scope.showH= function(){

  $("#hideH").show(500);

$("#hideH").addClass('animated bounceIn');
  $("#hideH").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
 function (e){
       $("#hideH").removeClass('bounceIn');
}); 

}

});


var validate = function(){
// ---------startdate room avaibility----------------
  var d1 = new Date($("#d1").datepicker('getDate'));
  // -------end date room avibility---------------
  var d2 = new Date($("#d2").datepicker('getDate'));
     // ----------check in user--------------------------
   var d3 = new Date( $('#booking_stdate').datepicker('getDate'));
   // ---------check out user------------------------
   var d4 = new Date($('#booking_endate').datepicker('getDate'));
   
//  var valu= Math.abs(d3.getTime() - d4.getTime());
var timeDiff= Math.abs(d4.getTime() - d3.getTime());
var diffDays = Math.ceil(timeDiff/(1000*3600*24));
// alert(diffDays);
var total=$("#booking_totalcost").val()*diffDays;
$("#total").html(total);
var total1=0;
// var rubyVar = $('#invisible').data('rubyvar');
// rubyVar=total*diffDays;


 if (d3<d1){
alert("The room is not availbale in that date range");
 $("#btn-sign-up").removeAttr('data-disable-with');
 return false;
 } 
if (diffDays>28){
alert("Sorry you cannot book a room for more than 28 Days");
$("#btn-sign-up").removeAttr('data-disable-with');
 return false;

}

 if  (d3>d2){
alert("The room is not availbale in that date range");
 $("#btn-sign-up").removeAttr('data-disable-with');
 return false;
 }


  if (d4<d1){
alert("The room is not availbale in that date range");
$("#btn-sign-up").removeAttr('data-disable-with');
 return false;
} 

if (d4>d2){
  alert("The room is not availbale in that date range");
$("#btn-sign-up").removeAttr('data-disable-with');
 return false;
 }


  if ( d3>d4){
alert("Check in date must come before check out date");
$("#btn-sign-up").removeAttr('data-disable-with');
 return false;
  }

  if (d4< d3){
alert("Check out date must come after check in date");
$("#btn-sign-up").removeAttr('data-disable-with');
 return false;
  } 


  else {
   $("#btn-sign-up").removeAttr('data-disable-with');
   $("#totalPrice").html(total);
    return true;
  }
}

var validate1 = function(){

     // ----------Date from--------------------------
   var d3 = new Date( $('#avaibility_datef').datepicker('getDate'));
   // ---------check out user------------------------
   var d4 = new Date($('#avaibility_datet').datepicker('getDate'));


  if ( d3>d4){
alert("Date from date must come before Date to date");
$("#btn-sign-up").removeAttr('data-disable-with');
 return false;
  }

  else {
   $("#btn-sign-up").removeAttr('data-disable-with');
    return true;
  }
}

</script>
